@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
/* 
#6474e5

*/

.navbar {
  display: flex;
  height: 60px;
  background-color: #0a4f70;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 1.2rem;
  background: none;
  color: #f7f6f6;
  transition: all 0.65s;
}

.menu-bars:hover {
  color: #f04c63;
}

.nav-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100vh;
  background-color: #0a4f70;
  transition: 0.65s;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.nav-menu.active {
  left: 0;
  transition: 0.35s;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  height: 60px;
  padding: 8px 16px;
}

.nav-text a {
  text-decoration: none;
  color: #f7f6f6;
  font-size: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #f04c63;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #0a4f70;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.nav-description {
  color: #b8b8b8;
  padding: 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 60px;
  font-size: 0.8rem;
}
